<!--Inherit design from globalElements, passes design on to creditAndContributions-->
{% extends '/globalElements.html' %}

{% block title %}<h1 class="pageTitle">Credits and Contributions</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Credit and Contributions Log</h2>
    <p>
    Some text about the page's purpose and how grateful we are to ourselves.
    </p>
{% endblock header %}
<br>
{% block content %}
    <table class="bodyTable">
        <tr>
            <th class="bodyRow">Name</th>
            <th class="bodyRow">Contribution</th>
        </tr>
        <tr>
            <td class="bodyRow">Clare Tait</td>
            <td class="bodyRow">Created Regnella Wiki.</td>
        </tr>
    </table>
{% endblock content %}