<!--Inherit design from globalElements.-->
{% extends '/globalElements.html' %}

{% block title %}<h1 class="pageTitle">Edit Log</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Edits Log: Last Edit (00/00/0000)</h2>
    <p>
    Some text about the edits log and its purpose.
    </p>
{% endblock header %}
<br>
{% block content %}
    <table class="bodyTable">
        <tr>
            <th class="bodyRow">Page</th>
            <th class="bodyRow">Date-Time</th>
            <th class="bodyRow">Change Made</th>
        </tr>
        <tr>
            <td class="bodyRow">Placeholder</td>
            <td class="bodyRow">00/00/0000 00:00:00</td>
            <td class="bodyRow">Nothing.</td>
        </tr>
    </table>
{% endblock content %}