#Inherit design from globalElements.
{% extends '../globalElementsTwo.html' %}

{% block title %}<h1>Edit Log</h1>{% endblock title %}

{% block header %}
    <h1>Edits Log: Last Edit (00/00/0000)</h1>
    <p>
    Some text about the edits log and its purpose.
    </p>
{% endblock header %}
<br>
{% block content %}
    <table>
        <tr>
            <th>Page</th>
            <th>Date-Time</th>
            <th>Change Made</th>
        </tr>
        <tr>
            <td>Placeholder</td>
            <td>00/00/0000 00:00:00</td>
            <td>Nothing.</td>
        </tr>
    </table>
{% endblock content %}