#Inherit design from globalElements.
{% extends '../globalElements.html' %}

{% block title %}<h1>Homepage</h1>{% endblock title %}

{% block header %}
    <img src="WelcomeImg.png" alt="Regnella Wiki Title Image" width="300" height="300">
    <h2>Welcome to Regnella Wiki!</h2>
    <p>This is the official wiki for Boundary of Shade and Future, launched on the 18/11/2024 to provide long-time fans and newcomers alike with interesting facts and information on the game.
        <br>Boundary of Shade and Future was released on PCs in 20/01/2021 and chronicles the journey of Selene von Anima and Takeo Akashiro in their quest to defeat the nefarious Queen of Time and break the curse on Regnella; their beloved homeland.
        <br>Whether you require the stats for a particularly annoying boss, the romance options for one of the party members, or simply want to chat about the game, you have come to the right place.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    <a href="{{ url_for('charList') }}">
    <img src="CharPage.png" alt="Link to Characters List" width="400" height="200">>
    </a>
    <a href="{{ url_for('enemyList') }}">
    <img src="EnemiesPage.png" alt="Link to Enemies List" width="400" height="200">>
    </a>
    <a href="{{ url_for('partyList') }}">
    <img src="PartyPage.png" alt="Link to Party Members List" width="400" height="200">>
    </a>
    <a href="{{ url_for('skillsList') }}">
    <img src="SkillsPage.png" alt="Link to Skills List" width="400" height="200">>
    </a>
    <a href="{{ url_for('classList') }}">
    <img src="ClassesPage.png" alt="Link to Classes List" width="400" height="200">>
    </a>
    <a href="{{ url_for('locationList') }}">
    <img src="LocPage.png" alt="Link to Locations List" width="400" height="200">>
    </a>
    <a href="{{ url_for('equipList') }}">
    <img src="EquipPage.png" alt="Link to Equipment List" width="400" height="200">>
    </a>
    <a href="{{ url_for('plotOverview') }}">
    <img src="PlotPage.png" alt="Link to Plot Overview" width="400" height="200">>
    </a>
    <a href="{{ url_for('forumPage') }}">
    <img src="forumPage.png" alt="Link to Wiki Forum" width="400" height="200">>
    </a>
    <a href="{{ url_for('creditAndContribution') }}">
    <img src="creditPage.png" alt="Link to Credits and Contributions Page" width="400" height="200">>
    </a>
    <a href="{{ url_for('editLog') }}">
    <img src="ELog.png" alt="Link to Edits Log" width="400" height="200">>
    </a>
    <br>
    <br>
    <h2>Synopsis</h2>
    <p>In the kingdom of Regnella, those with magic are granted the greatest honour and privileges in return for their service to the Crown and kingdom all their lives...<br>
    One such Mage; Selene von Anima is tasked with investigating the cause of a curse placed over her homeland; one that corrupts all who it touches, turning them into nigh-immortal monsters.<br>
    -However, upon coming face-to-face with the perpetrator; a powerful and ancient Witch who calls herself the 'Queen of Time', Selene loses everything; friends, magic, and nearly her own mind.<br>
    Cursed by the monster she was sent to kill, Selene and her mysterious new ally Takeo Akashiro; a defected knight serving the witch-queen, must race against the clock to break the curse and defeat the sorceress before Selene losses her humanity entirety; and with it, the last hope of Regnella...
    </p>
{% endblock content %}