<!--Inherit design from globalElements.-->
{% extends '/globalElements.html' %}

{% block title %}<h1 class="pageTitle">PLACEHOLDER List</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">PLACEHOLDER List</h2>
    <p>
    An overview of the page and its purpose.
    </p>
{% endblock header %}

{% block content %}
    {% block collapsables %}
        <p>A Collapsible:</p>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table>
                <tr>
                    <th>Column1</th>
                    <th>Column2</th>
                </tr>
                <tr>
                    <td>Value1</td>
                    <td>Value2</td>
                </tr>
            </table>
        </div>
    {% endblock collapsables %}
{% endblock content %}