{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Characters</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Characters List:</h2>
    <br>
    <p>A listing of all characters, both ally and foe, found in Boundary of Shade and Future.<br>
    Click on the name of any character for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    {% block collapsable %}
        <h4 class="dropdownHeader">Playable:</h4>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content centerAlign">
            <table class="bodyTable">
                <tr>
                    <th class="bodyRow">Name</th>
                </tr>
                {% for item in playableTable %}
                <tr class="bodyRow">
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock collapsable %}
    {% block collapsable2 %}
        <h4 class="dropdownHeader">Enemy:</h4>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content centerAlign">
            <table class="bodyTable">
                <tr>
                    <th class="bodyRow">Name</th>
                </tr>
                {% for item in enemyTable %}
                <tr class="bodyRow">
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock collapsable2 %}
    {% block collapsable3 %}
        <h4 class="dropdownHeader">NPC:</h4>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content centerAlign">
            <table class="bodyTable">
                <tr>
                    <th class="bodyRow">Name</th>
                </tr>
                {% for item in npcTable %}
                <tr class="bodyRow">
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock collapsable3 %}
{% endblock content %}