{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Classes</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Classes List:</h2>
    <br>
    <p>A listing of all playable characters' classes found in Boundary of Shade and Future.<br>
    Click on the name of any class for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    <table class="bodyTable">
        <tr>
            <th class="bodyRow">Name</th>
        </tr>
        {% for item in tableData %}
            <tr class="bodyRow">
                <td><a href="{{ url_for ('classFunc', name=item) }}">{{ item }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}