{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Enemy</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Enemy Name</h2>
    <p>
    An overview of the enemy, where they appear, and their role.
    </p>
    <table>
        <tr>
            <th><img src="/static/img/DefaultCharImg.png" alt="Class Img" width="100" height="100"></th>
        </tr>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <th>Act</th>
        </tr>
        <tr>
            <td>MHP</td>
            <td>MMP</td>
        </tr>
        <tr>
            <td>ATK</td>
            <td>DEF</td>
        </tr>
        <tr>
            <td>MAT</td>
            <td>MDF</td>
        </tr>
        <tr>
            <td>AGI</td>
            <td>LUK</td>
        </tr>
    </table>
{% endblock header %}

{% block content %}
    <div class="individOverview">
        <h2 class="sectionTitle">Overview:</h2>
        <br>
        <p>More in-depth look at the enemy and their role both in battle and a little bit in story.</p>
        <br>
    </div>
        <div>
            <h3 class="minorTitle">Stats:</h3>
            <table class="table table-bordered">
                <tr>
                    <th>MHP:</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>MMP:</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>ATK:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>DEF:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>MAT:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>MDF:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>AGI:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>LUK:</th>
                    <td>10</td>
                </tr>
            </table>
        </div>
        <div>
            <h3 class="minorTitle">Skills:</h3>
            <table class="table table-bordered">
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>Skill Name</td>
                    <td>Level</td>
                </tr>
            </table>
        </div>
{% endblock content %}