{% extends '/TemplateHTML/IndividualPages.html' %}

    {% block title %}<h1>Party Member</h1>{% endblock title %}

    {% block header %}
        <h2 class="pageTitle">{{ name }}</h2>
        <h3 id="sectionTitle">Overview:</h3>
        <p>
        {{ overview }}
        </p>
        <table class="table table-bordered">
            <tr>
                <th class="bodyRow"><img src="{{ img }}" alt="Character Img" width="100" height="100"></th>
            </tr>
            <tr>
                <th class="bodyRow">{{ firstName }}</th>
                <th class="bodyRow">{{ lastName }}</th>
            </tr>
            <tr>
                <th class="bodyRow">Class:</th>
                <th class="bodyRow">{{ class }}</th>
            </tr>
            <tr>
                <th class="bodyRow">Level:</th>
                <th class="bodyRow">{{ level }}</th>
            </tr>
            <tr>
                <td class="bodyRow">MHP: {{ MHP }}</td>
                <td class="bodyRow">MMP: {{ MMP }}</td>
            </tr>
            <tr>
                <td class="bodyRow">ATK: {{ ATK }}</td>
                <td class="bodyRow">DEF: {{ DEF }}</td>
            </tr>
            <tr>
                <td class="bodyRow">MAT: {{ MAT }}</td>
                <td class="bodyRow">MDF: {{ MDF }}</td>
            </tr>
            <tr>
                <td class="bodyRow">AGI: {{ AGI }}</td>
                <td class="bodyRow">LUK: {{ LUK }}</td>
            </tr>
        </table>
    {% endblock header %}

    {% block content %}
        <div class="individOverview">
            <h2 class="sectionTitle">Description:</h2>
            <br>
            <p>{{ description }}</p>
            <br>
        </div>
            <div>
                <h3 class="minorTitle">Base Stats:</h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="bodyRow">MHP:</th>
                        <td class="bodyRow">{{ MHP }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MMP:</th>
                        <td class="bodyRow">{{ MMP }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">ATK:</th>
                        <td class="bodyRow">{{ ATK }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">DEF:</th>
                        <td class="bodyRow">{{ DEF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MAT:</th>
                        <td class="bodyRow">{{ MAT }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MDF:</th>
                        <td class="bodyRow">{{ MDF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">AGI:</th>
                        <td class="bodyRow">{{ AGI }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">LUK:</th>
                        <td class="bodyRow">{{ LUK }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3 class="minorTitle">Max Stats:</h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="bodyRow">MHP:</th>
                        <td class="bodyRow">{{ MaxMHP }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MMP:</th>
                        <td class="bodyRow">{{ MaxMMP }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">ATK:</th>
                        <td class="bodyRow">{{ MaxATK }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">DEF:</th>
                        <td class="bodyRow">{{ MaxDEF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MAT:</th>
                        <td class="bodyRow">{{ MaxMAT }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MDF:</th>
                        <td class="bodyRow">{{ MaxMDF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">AGI:</th>
                        <td class="bodyRow">{{ MaxAGI }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">LUK:</th>
                        <td class="bodyRow">{{ MaxLUK }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3 class="minorTitle">Skills:</h3>
                <table class="table table-bordered">
                    {% for item in skillList %}
                        <tr>
                            <td>{{ item }}</td>
                            <td> {{ item }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        <br>
        <div class="individSupport">
            <h2 class="sectionTitle">Supports:</h2>
            <br>
            <div>
                <h3 class="minorTitle">Ranks:</h3>
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th class="bodyRow">Stat</th>
                            <th class="bodyRow">Values</th>
                        </tr>
                        <tr>
                            <td class="bodyRow">MHP</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">MMP</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">ATK</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">DEF</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">MAT</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">MDF</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">AGI</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                        <tr>
                            <td class="bodyRow">LUK</td>
                            <td class="bodyRow">10(C), 20(B), 30(A), 50(S)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th class="bodyRow">Options:</th>
                    </tr>
                    <tr>
                        <td class="bodyRow">{{ support1N }}</td>
                        <td class="bodyRow">{{ support1L }}</td>
                    </tr>
                    <tr>
                        <td class="bodyRow">{{ support2N }}</td>
                        <td class="bodyRow">{{ support2L }}</td>
                    </tr>
                    <tr>
                        <td class="bodyRow">{{ support3N }}</td>
                        <td class="bodyRow">{{ support3L }}</td>
                    </tr>
                    <tr>
                        <td class="bodyRow">{{ support4N }}</td>
                        <td class="bodyRow">{{ support4L }}</td>
                    </tr>
                    <tr>
                        <td class="bodyRow">{{ support5N }}</td>
                        <td class="bodyRow">{{ support5L }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endblock content %}