{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Enemy</h1>{% endblock title %}

    {% block header %}
        <h2 class="pageTitle">{{ name }}</h2>
        <p>
        {{ overview }}
        </p>
        <table class="bodyTable">
            <tr>
                <th class="bodyRow"><img src="/static/img/{{ img }}.png" alt="Enemy Img" width="100" height="100"></th>
            </tr>
            <tr>
                <th class="bodyRow">{{ name }}</th>
            </tr>
            <tr>
                <th class="bodyRow">{{ act }}</th>
            </tr>
        </table>
    {% endblock header %}

    {% block content %}
        <div class="individOverview">
            <h2 class="sectionTitle">Overview:</h2>
            <br>
            <p>{{ description }}</p>
            <br>
        </div>
            <div>
                <h3 class="minorTitle">Stats:</h3>
                <table class="table table-bordered">
                   <tr>
                       <th class="bodyRow">MHP:</th>
                       <td class="bodyRow">{{ MHP }}</td>
                   </tr>
                    <tr>
                        <th class="bodyRow">MMP:</th>
                        <td class="bodyRow">{{ mMMP }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">ATK:</th>
                        <td class="bodyRow">{{ ATK }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">DEF:</th>
                        <td class="bodyRow">{{ DEF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MAT:</th>
                        <td class="bodyRow">{{ MAT }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MDF:</th>
                        <td class="bodyRow">{{ MDF }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">AGI:</th>
                        <td class="bodyRow">{{ AGI }}</td>
                    </tr>
                    <tr>
                        <th class="bodyRow">LUK:</th>
                        <td class="bodyRow">{{ LUK }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3 class="minorTitle">Skills:</h3>
                <table class="table table-bordered">
                    {% for item in skillList %}
                        <tr>
                            <td>{{ item }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    {% endblock content %}