{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Character</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">{{ character.name }}</h2>
    <p>
    {{ character.overview }}
    </p>
    <table class="headerTable">
        <tr>
            <th class="bodyRow"><img src="/static/img/DefaultCharImg.png" alt="Character Img" width="100" height="100"></th>
        </tr>
        <tr>
            <th class="bodyRow">{{ character.firstName }}</th>
        </tr>
        <tr>
            <th class="bodyRow">{{ character.lastName }}</th>
        </tr>
        <tr>
            <th class="bodyRow">{{ character.age }}</th>
        </tr>
        <tr>
            <th class="bodyRow">{{ character.race }}</th>
        </tr>
        <tr>
            <th class="bodyRow">{{ character.family }}</th>
        </tr>
        <tr>
            <td class="bodyRow">{{ character.type }}</td>
        </tr>
        <tr>
            <td class="bodyRow">{{ character.location }}</td>
        </tr>
    </table>
{% endblock header %}

{% block content %}
    <div class="individOverview">
        <p>{{ character.desc }}
        </p>
    </div>
{% endblock content %}

