{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Location</h1>{% endblock title %}

    {% block header %}
        <form action="{{ url_for( "locationEdit", name=name ) }}"  method="post">
            <h2><input name="locName" type="text" value={{ name }}></h2>
        <p><textarea name="overview" rows="3" cols="80">{{ overview }}</textarea>>
        </p>
        <table class="table table-bordered">
            <tr>
                <td class="bodyRow" colspan="2"><input name="imgString" type="text" value={{ img }}></td>
            </tr>
            <tr>
                <td class="bodyRow"><input name="name" type="text" value={{ name }}></td>
            </tr>
            <tr>
                <td class="bodyRow"><input name="act" type="text" value={{ act }}></td>
            </tr>
            <tr>
                <th class="bodyRow"><input name="locType" type="text" value={{ type }}></th>
            </tr>
            <tr>
                <td class="bodyRow"><input name="locConnect" type="text" value={{ connect }}></td>
            </tr>
        </table>
    {% endblock header %}

    {% block content %}
        <div class="individOverview">
            <p><textarea name="description" rows="12" cols="80">{{ description }}</textarea>
        </div>
    {% endblock content %}
{% if address == 'Edit' %}
    {% block editDesc %}
        <br>
        <br>
        <h3 class="minorTitle">Edit Description:</h3>
        <textarea name="editMessage" rows="5" cols="80"></textarea>
    {% endblock editDesc %}
{% endif %}
</form>