{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Class</h1>{% endblock title %}

    {% block header %}
            <h2><input type="text" value={{ name }}></h2>
            <p><textarea rows="3" cols="80">{{ overview }}</textarea>
            </p>
        <table class="table table-bordered">
            <tr>
                <th class="bodyRow"><input type="text" value={{ img }}></th>
            </tr>
            <tr>
                <th class="bodyRow"><input type="text" value= {{ name }}></th>
            </tr>
            <tr>
                <th class="bodyRow"><input type="text" value= {{ owner}}></th>
            </tr>
            <tr>
                <td class="bodyRow"><input type="text" value= {{ baseMHP }}></td>
                <td class="bodyRow"><input type="text" value= {{ baseMMP }}></td>
            </tr>
            <tr>
                <td class="bodyRow"><input type="text" value= {{ baseATK }}></td>
                <td class="bodyRow"><input type="text" value= {{ baseDEF }}></td>
            </tr>
            <tr>
                <td class="bodyRow"><input type="text" value= {{ baseMAT }}></td>
                <td class="bodyRow"><input type="text" value= {{ baseMDF }}></td>
            </tr>
            <tr>
                <td class="bodyRow"><input type="text" value= {{ baseAGI }}></td>
                <td class="bodyRow"><input type="text" value= {{ baseLUK }}></td>
            </tr>
        </table>
    {% endblock header %}

    {% block content %}
        <div class="individOverview">
            <h2 class="sectionTitle">Overview:</h2>
            <br>
            <input type="text" value= {{ description }}>
            <br>
        </div>
            <div>
                <h3 class="minorTitle">Base Stats:</h3>
                <table class="table table-bordered">
                    <tr>
                        <th class="bodyRow">MHP:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseMHP }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MMP:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseMMP }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">ATK:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseATK }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">DEF:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseDEF }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MAT:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseMAT }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">MDF:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseMDF }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">AGI:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseAGI }}></td>
                    </tr>
                    <tr>
                        <th class="bodyRow">LUK:</th>
                        <td class="bodyRow"><input type="text" value= {{ baseLUK }}></td>
                    </tr>
                        </table>
                    </div>
                    <div>
                        <h3 class="minorTitle">Max Stats:</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th class="bodyRow">MHP:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxMHP }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">MMP:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxMMP }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">ATK:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxATK }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">DEF:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxDEF }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">MAT:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxMAT }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">MDF:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxMDF }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">AGI:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxAGI }}></td>
                            </tr>
                            <tr>
                                <th class="bodyRow">LUK:</th>
                                <td class="bodyRow"><input type="text" value= {{ maxLUK }}></td>
                            </tr>
                </table>
            </div>
            <div>
                <h3 class="minorTitle">Skills:</h3>
                <table class="table table-bordered">
                    <tr>
                        <td class="bodyRow"><input type="text" value= "Skill Name"></td>
                        <td class="bodyRow"><input type="text" value= "Level"></td>
                    </tr>
                </table>
            </div>
    {% endblock content %}