{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Character</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Character Name</h2>
    <p>
    An overview of who the character is, where you find them, and what they do.
    </p>
    <table class="headerTable">
        <tr>
            <th class="bodyRow"><img src="/static/img/DefaultCharImg.png" alt="Character Img" width="100" height="100"></th>
        </tr>
        <tr>
            <th class="bodyRow">Forename</th>
        </tr>
        <tr>
            <th class="bodyRow">Surname</th>
        </tr>
        <tr>
            <th class="bodyRow">Age</th>
        </tr>
        <tr>
            <th class="bodyRow">Race</th>
        </tr>
        <tr>
            <th class="bodyRow">Family</th>
        </tr>
        <tr>
            <td class="bodyRow">Type</td>
        </tr>
        <tr>
            <td class="bodyRow">Location</td>
        </tr>
    </table>
{% endblock header %}

{% block content %}
    <div class="individOverview">
        <p>Long description of who the character is, their purpose, and what relevance they have to anything.<br>
        Lots and lots of text that just goes on and on.
        </p>
    </div>
{% endblock content %}

