{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Skill</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Skill Name</h2>
    <p>
    An overview of the skill, its general information, and who uses it.
    </p>
    <table class="table table-bordered">
        <tr>
            <th class="bodyRow"><img src="/static/img/DefaultLocImg.png" alt="Location Img" width="100" height="100"></th>
        </tr>
        <tr>
            <th class="bodyRow">Name</th>
        </tr>
        <tr>
            <td class="bodyRow">Skill Type</td>
        </tr>
        <tr>
            <td class="bodyRow">Usage Type</td>
        </tr>
        <tr>
            <td class="bodyRow">Element</td>
        </tr>
    </table>
{% endblock header %}

{% block content %}
    <div class="individOverview">
        <p>Long description of the skill and all its effects and uses.<br>
            Rambles on about the skill for much longer than it deserves.
        </p>
    </div>
{% endblock content %}