{% extends '/TemplateHTML/IndividualPages.html' %}

{% block title %}<h1>Location</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">{{ location.name }}</h2>
    <p>
    {{ location.overview }}
    </p>
    <table class="table table-bordered">
        <tr>
            <th class="bodyRow"><img src="/static/img/DefaultLocImg.png" alt="Location Img" width="100" height="100"></th>
        </tr>
        <tr>
            <td class="bodyRow">{{ location.name }}</td>
        </tr>
        <tr>
            <td class="bodyRow">{{ location.act }}</td>
        </tr>
        <tr>
            <th class="bodyRow">{{ location.type }}</th>
        </tr>
        <tr>
            <td class="bodyRow">{{ location.connect }}</td>
        </tr>
    </table>
{% endblock header %}

{% block content %}
    <div class="individOverview">
        <p>{{ location.desc }}
        </p>
    </div>
{% endblock content %}