{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Locations</h1>{% endblock title %}

{% block header %}
    <p>A listing of all locations found in Boundary of Shade and Future for exploration across the game.<br>
    Click on the name of any place for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    {% block collapsable %}
        <p>Act I:</p>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Value1</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable %}
    {% block collapsable2 %}
        <p>Act II:</p>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Value1</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable2 %}
    {% block collapsable3 %}
        <p>Act III:</p>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Value1</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable3 %}
    {% block collapsable4 %}
        <p>Other:</p>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Value1</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable4 %}
{% endblock content %}