{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Party Members</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Party Members List:</h2>
    <br>
    <p>A listing of all playable characters found in Boundary of Shade and Future.<br>
    Click on the name of any character for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    <table class="bodyTable">
        <tr>
            <th class="bodyRow">Name</th>
        </tr>
        {% for item in tableData %}
            <tr>
                <td>{{ item }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}