<!--Inherit design from PlotOverview-->
{% extends '/TemplateHTML/PlotOverview.html' %}

{% block title %}<h1>Plot Overview</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Summary</h2>
    <textarea rows="8" cols="80">{{ overview }}</textarea>
{% endblock header %}
<br>
<br>
{% block content %}
    <button type="button" class="collapsible" onclick="globalCollapsability()">Act I:</button>
    <div class="content">
        {% block actOne %}
             <textarea rows="20" cols="80">{{ actOne }}</textarea>
        {% endblock actOne %}
    </div>
    <br>
    <br>
    <br>
    <button type="button" class="collapsible" onclick="globalCollapsability()">Act II:</button>
    <div class="content">
        {% block actTwo %}
             <textarea rows="20" cols="80">{{ actTwo }}</textarea>
        {% endblock actTwo %}
    </div>
    <br>
    <br>
    <br>
    <button type="button" class="collapsible" onclick="globalCollapsability()">Act III:</button>
    <div class="content">
        {% block actThree %}
             <textarea rows="20" cols="80">{{ actThree }}</textarea>
        {% endblock actThree %}
    </div>
    <br>
    <br>
    <br>
    <button type="button" class="collapsible" onclick="globalCollapsability()">Ending:</button>
    <div class="content">
        {% block extraEndings %}
            <p>Endings</p>
            <!---Selene X Takeo-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Selene&Takeo</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ SeTaEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Selene X Lucas-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Selene&Lucas</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ SeLuEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Selene X MARA-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Selene&MARA</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ SeMaEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Takeo X Yliyaminya-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Takeo&Ylyiaminya</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ TaYlEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Takeo X Clarice-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Takeo&Clarice</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ TaClEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Lucas X Brenda-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Lucas&Brenda</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ LuBrEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Lucas X Yliyaminya-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Lucas&Yliyaminya</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ LuYlEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Brenda X MARA-->
            <button type="button" class="collapsible"onclick="globalCollapsability()">Brenda&MARA</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ BrMaEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Brenda X Takeshi-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Brenda&Takeshi</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ BrTaEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---MARA X Takeshi-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">MARA&Takeshi</button>
            <div class="content">
                <textarea rows="10" cols="80">{{ MaTaEnd }}</textarea>
            </div>
            <br>
            <br>
            <!---Clarice X Takeshi-->
            <button type="button" class="collapsible" onclick="globalCollapsability()">Clarice&Takeshi</button>
            <div class="content">
               <textarea rows="10" cols="80">{{ ClTaEnd }}</textarea>
            </div>
            <br>
            <br>
        </div>
    {% endblock extraEndings %}
{% endblock content %}