{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Skills</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Skills List:</h2>
    <br>
    <p>A listing of all skills found in Boundary of Shade and Future for allies and enemies alike.<br>
    Click on the name of any skill for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    {% block collapsable %}
        <h4 class="dropdownHeader">Player Skills:</h4>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table class="bodyTable">
                <tr>
                    <th class="bodyRow">Name</th>
                    <th class="bodyRow">Desc.</th>
                </tr>
                <tr>
                    <td class="bodyRow">Name</td>
                    <td class="bodyRow">Desc.</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable %}
    {% block collapsable2 %}
        <h4 class="dropdownHeader">Enemy Skills:</h4>
        <button type="button" class="collapsible" onclick="globalCollapsability()">Collapsible</button>
        <div class="content">
            <table class="bodyTable">
                <tr>
                    <th class="bodyRow">Column1</th>
                    <th class="bodyRow">Column2</th>
                </tr>
                <tr>
                    <td class="bodyRow">Value1</td>
                    <td class="bodyRow">Value2</td>
                </tr>
            </table>
        </div>
    {% endblock collapsable2 %}
{% endblock content %}