{% extends '/TemplateHTML/ListPages.html' %}

{% block title %}<h1>Skills</h1>{% endblock title %}

{% block header %}
    <h2 class="pageTitle">Skills List:</h2>
    <br>
    <p>A listing of all skills found in Boundary of Shade and Future for allies and enemies alike.<br>
    Click on the name of any skill for more information.</p>
{% endblock header %}
<br>
<br>
{% block content %}
    <table class="bodyTable">
        <tr>
            <th class="bodyRow">Name</th>
        </tr>
        {{ tableData }}
    </table>
{% endblock content %}