/*Main design sheet for Regnella Wiki; it uses !important a lot to override Bootstrap, since some elements needed custom design parameters.*/

body
{
    background-color: #EDD9A3 !important;
    color: #00100B !important;
    text-align: center !important;
}

.navbar
{
    background-color: #550527 !important;
    color: #EDD9A3 !important;
    align-content: center !important;
    width: 100% !important;
}

.nav-link
{
    color: #EDD9A3 !important;
    font-weight: bolder !important;
}

.pageFooter
{
    padding-top: 90px !important;
}

.pageTitle
{
    color: #283044 !important;
    padding-top: 60px !important;
    padding-bottom: 30px !important;
    font-weight: bold !important;
}

.dropdownHeader
{
    color: #220901 !important;
    padding-top: 30px !important;
    padding-bottom: 15px !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.rightImg
{
    float: right;
    margin-right: 3%;
}

.leftImg
{
    float: left;
    margin-left: 3%;
}

.rightAlign
{
    float: right;
    margin-right: 20px;
}

.leftAlign
{
    float: left;
    margin-left: 20px;
}

.centerAlign
{
    align-items: center;
    justify-content: center;
}

.sectionTitle
{
    color: #283044 !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    font-weight: bolder !important;
}

.Img
{
    padding: 50px !important;
}

.collapsible
{
    background-color: #283044;
    color: #EDD9A3;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bolder;
    outline: none;
}

.collapsible:hover
{
    background-color: #7785AC;
}

.content
{
    padding: 10px 20px;
    display: none;
    overflow: hidden;
}

.headerTable
{
    margin: 0 auto !important;
    color: #00100B !important;
    background-color: #F1E4E8 !important;
    border: 1px solid #00100B !important;
    border-collapse: collapse !important;
}

.bodyTable
{
    margin: 0 auto !important;
    color: #00100B !important;
    background-color: #F1E4E8 !important;
    border: 1px groove #00100B !important;
    border-collapse: collapse !important;
}

.headerRow
{
    text-align: center !important;;
    width: 20% !important;;
    border: 1px solid #00100B !important;
    border-collapse: collapse !important;
}

.bodyRow
{
    text-align: center !important;;
    width: 20% !important;;
    border: 1px groove #00100B !important;
    border-collapse: collapse !important;
}

.stripedRow:nth-child
{
    background-color: #A4B0F5 !important;
}

#editButton
{
    margin: 0 40px;
    width: 10%;
    height: auto;
    background-color: #7F675B;
    color: #220901;
}