<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regnella Wiki: {% block title %}{% endblock title %}</title>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('forumPage') }}">Forum</a></li>
            <li><a href="{{ url_for('plotOverview') }}">Plot</a></li>
            <li><a href="{{ url_for('charactersPage') }}">Chara.</a></li>
            <li><a href="{{ url_for('partyMembers') }}">Party</a></li>
            <li><a href="{{ url_for('classesPage') }}">Class</a></li>
            <li><a href="{{ url_for('skillsPage') }}">Skill</a></li>
            <li><a href="{{ url_for('enemiesPage') }}">Enemy</a></li>
            <li><a href="{{ url_for('equipmentPage') }}">Equip.</a></li>
            <li><a href="{{ url_for('locPage') }}">Location</a></li>
            <li><a href="{{ url_for('credits') }}">Credit</a></li>
            <li><a href="{{ url_for('editLog') }}">Edits</a></li>
        </ul>
    </nav>
</head>
<body>
    <header>
        {% block header %}Header{% endblock header %}
      </header>
      <main>
        {% block content %}<p>Main Body of Text</p>{% endblock content %}
      </main>
</body>
<footer>
    {% block footer %}Footer Text{% endblock footer %}
    <button type="button">Edit</button>
</footer>
</html>